.CopyButton {
  --capsule: 99999px;
  --padding: 0.5em;

  margin-left: calc(1em + var(--padding));
  color: inherit;
  border-radius: var(--capsule);
  background-color: rgba(0, 0, 0, 0%);
  transition: background-color 0.2s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
}

.CopyButton:hover,
.CopyButton:focus,
.CopyButton.hover {
  background-color: rgba(0, 0, 0, 25%);
}

.CopyButton svg {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  padding: var(--padding) var(--padding) var(--padding) 0;
}

.CopyButton:hover svg,
.CopyButton:focus svg,
.CopyButton.hover svg {
  opacity: 1;
}

.text {
  padding: var(--padding);
  display: inline-block;
  user-select: text;
}

.action {
  display: flex;
  justify-content: flex-end;
}

.copied {
  border-radius: var(--capsule);
  background-color: rgba(0, 0, 0, 25%);
  padding: var(--padding);
  display: block;
}
