.Footer {
  display: flex;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
  padding: 1em;
  animation: enter 0.8s var(--ease-out-quint);
}

.Footer a,
.Footer :global(.link) {
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.33em;
}

.Footer a:hover,
.Footer a:focus,
.Footer :global(.link):hover,
.Footer :global(.link):focus {
  opacity: 75%;
}

.separator {
  opacity: 50%;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0.75) translateY(50px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
