.Footer {
  display: flex;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.Footer a,
.Footer :global(.link) {
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.33em;
}

.Footer a:hover,
.Footer a:focus,
.Footer :global(.link):hover,
.Footer :global(.link):focus {
  opacity: 75%;
}

.separator {
  opacity: 50%;
}
